.main {
    background-color: cadetblue;
}

h3 {
    color: green;
}

#center {
    color: blue;
    text-align: center;
}

#center strong {
    background-color: yellow;
}

em {
    color: green;
}

.indent {
    text-indent: 2em;
}

.indent p strong {
    color: red;
}