body {
    background-color: aliceblue;
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    color: blue;
    text-shadow: 0 0 5px skyblue;
}

hr {
    border: 1px solid black;
}

#select {
    display: inline-block;
}

.img {
    width: 350px;
    height: 250px;
}

p {
    font-size: 1em;
    text-indent: 1em;
}