@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    background-color: #f5f5f5;
    color: #2f2f2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 10px;
}

.wrapper {
    width: 85%;
    margin: 20px auto;
}

h1 {
    display: none;
}

h2, h3 {
    font-family: sans-serif;
}

h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 22px;
}

.gradient-text {
    font-weight: bold;
    animation-name: textColorAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes textColorAnimation {
    0% {color: #D3BCF5;}
    30% {color: #EECD6C;}
    60% {color: #A17ADC;}
    100% {color: #CE9F0F}
}

#my_info h2 {
    display: none;
}

#my_info img {
    width: 125px;
    height: auto;
    border-radius: 50px;
    margin-right: 40px;
} 

table {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
}

th {
    text-align: left;
    padding-right: 20px;
}

th, td {
    font-size: 14px;
}

#myname th {
    display: none;
}

#myname td {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#about p {
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: gold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 4px;
}

ul li::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

ul li:nth-child(1)::before {
    content: url('../image/ico_mobile.png');
}
ul li:nth-child(2)::before {
    content: url('../image/ico_email.png');
}
ul li:nth-child(3)::before {
    content: url('../image/ico_github.png');
    width: 20px;
    height: 20px;
}
ul li:nth-child(4)::before {
    content: url('../image/ico_blog.png');
}

#learned ol {
    list-style: none;
    padding: 0;
}

#learned li {
    display: inline-block;
    background-color: gold;
    padding: 4px 10px;
    border-radius: 32px;
    margin: 0 8px 8px 0;
    font-size: 14px;
}

#learned li::before {
    content: "#";
}


#projects ol {
    list-style: none;
    padding: 0;
}

#projects ol li p {
    font-size: 14px;
}